a {
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    z-index: 99999;
    width: 200px;
    height: 60px;
    background: rgba(230, 103, 103, 0.452);
}

a#engineBtn {
    display: block !important;
    position: fixed !important;
    background-color: green !important;
}

input.button-hook{
    display: block !important;
    position: fixed !important;
    background-color: green !important;
}